:root {
    --mainColor: #000
}

*{
    margin: 0;
    padding: 0;
}


.pokeCard {
    border: 1px solid #000;
    margin: 2%;
    background-color: var(--mainColor);
    border-radius: 2em;

    
    transition: ease-in-out  2s;
}

.pokeCard img{
    filter: drop-shadow(3px 3px #000);
    width: 10vw;
}

.types {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.types h2{
    border-radius: 1em;
    border: 1px solid #000;
    width:4em ;
    box-shadow: 1px -1px 3px #Fff;
    padding: 0.2em; 
    background-color: var(--mainColor);
    margin-right: 0.5em;
    margin: 0.5em;
}

h3 {
    margin-left: 0.5em;
    font-size: 1.5vw;
}



/*------- Types -------*/
.fighting {
    --mainColor: #ce4069dd
}
.psychic {
    --mainColor: #f97176dd
}
.poison {
    --mainColor: #ab6ac8dd
}
.dragon {
    --mainColor: #0a6dc4dd
}
.ghost {
    --mainColor: #5269acdd
}
.dark {
    --mainColor: #5a5366dd
}
.ground {
    --mainColor: #d97746dd
}
.fire {
    --mainColor: #ff9c54dd
}
.fairy {
    --mainColor: #ec8fe6dd
}
.water {
    --mainColor: #4d90d5dd
}
.flying {
    --mainColor: #8fa8dddd
}
.normal {
    --mainColor: #9099a1dd
}
.rock {
    --mainColor: #c7b78bdd
}
.electric {
    --mainColor: #f3d23bdd
}
.bug {
    --mainColor: #90c12cdd
}
.grass {
    --mainColor: #63bb5bdd
}
.ice {
    --mainColor: #74cec0dd
}
.steel {
    --mainColor: #5a8ea1dd
}