.pokeList {
    background-color: rgb(240, 240, 240);

    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-evenly;

}